body {
    font-family:'Courier New', Courier, monospace, sans-serif;
    text-align: center;
    background-color: #244855;
    color: #FBE9D0;
}

div {
    margin: auto;
    width: 50%;
    height: 100%;
    background-color: #874F41;
}

a {
    color: #90AEAD;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

h2 {
    text-decoration: underline;
}

ul {
    padding: 10px;
    margin: auto;
    width: 25%;
}

li {
    text-align: left;
    padding-top: 1%;
}

.ingredients {
    padding-left: 10%;
    width:50%;
}

.steps {
    padding-left: 20%;   
    width: 70%;
}

p{
    padding-left: 25%;
    width: 50%;
}